.contacts-container{
    display: flex;
    flex-direction: row;
    div{
        height: 115px;
        min-width: 115px;
        padding: 50px;
        .fa-user{
            width: 115px;
            height: 115px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding: 10px 10px 10px 0;
                svg{
                    margin-right: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width: 670px){
    .contacts-container{
        margin-top: 20px;        
        div{
            padding: 10px;
        }
    }
}
@media only screen and (max-width: 495px){
    .contacts-container{
        margin-top: 20px;       
        flex-wrap: wrap; 
        div{
            .fa-user{
                display: none !important;
            }
            height: auto;
            min-width: 100% !important;
            padding: 0;
        }
    }
}