.contacts-container{
    display: flex;
    flex-direction: row;
    div{
        height: 115px;
        min-width: 115px;
        padding: 50px;
        .fa-user{
            width: 115px;
            height: 115px;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                padding: 10px 10px 10px 0;
                svg{
                    margin-right: 10px;
                }
            }
        }
    }
}