@import './assets/light-mode.scss';
@import './assets/dark-mode.scss';

html{
    scroll-behavior: smooth;
}
body{
    background-color: wheat;
    width: 100%;
    overflow-x: hidden !important;
    margin: 0 !important;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#themer{
    min-height: 100vh;
    min-width: 100vw;
}
.dark, .light {
    transition: all ease .1s;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10%;
    min-height: 100vh;
    #content{
        transition: opacity ease-in-out 1s;
        width: 100%;
    }
}
.section{
    
    width: 60%;
    min-height: 200px;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin-top: 50px;
 
}
.openbtn, .closebtn {
    display: none;
}

.buttons{
    position: fixed;
    top: 30vh;
    left: 75%;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease-in-out !important;
    z-index: 9;
    a{
        width: 62%;
        text-align: center;
        text-decoration: none;
        border-left: 2px solid white;
        &:hover{
            cursor: crosshair;
        }

        padding: 10px 0 10px 0;
        margin: 5px 0 5px 0;
        transition: color ease-in-out .3s;
        transition: background-color ease-in-out .3s;
        
        &:nth-child(2){
            margin-top: 80px;
        }
        &.switcher{
            margin-top: 60px;
            border: 2px solid white;
        }
    }
    p{
        margin: 0;
        font-size: 13px;
    }
}

.hidden{
    opacity: 0;
}
.slider{
    opacity: 1;
    position: fixed;
    width: 350px;
    height: 350px;
    transition: all 2s ease-in-out !important;
    top: 30vh;
    left: 10%;

    &.right{
        left: 75%;
        opacity: .3;
    }   
}




::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
background:  #393a43;
}
   
::-webkit-scrollbar-thumb {
background: grey; 
}
  
::-webkit-scrollbar-thumb:hover {
background: #555; 
}



@media only screen and (max-width: 1234px) {
    .container{
        width: 80%;
        margin-left: 10%;

        .section{
            width: 90%;
            padding: 5%;
        }
    }

    .slider{
        transition: none !important;
        opacity: .9 !important;
        width: 50vw;
        height: 50vw;
        top: 25vh;
        left: 25vw !important;
        transition: opacity 2s ease !important;
        &.right{
            opacity: .1 !important;
        }
    }

    .buttons{
        top: 0;
        left: 0;
        width: 100vw;
        height: 40px;
        align-items: flex-start;       
        flex-direction: row;
        transition: none;
        a{
            margin: 0 !important;
            border-left: 0px;
            border-bottom: 2px solid;
            &.switcher{
                border-top: 0px;
            }
        }
        p{
            display: none;
        }
    }  

}
@media only screen and (max-width: 930px){
    .buttons{
        a{
            font-size: 13px;
        }
    }
    .expanded{               
        max-height: 300px !important;
    }
}
@media only screen and (max-width: 670px){
    .section{
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .openbtn, .closebtn { 
        display: block;
        cursor: pointer;
    }
    .openbtn{
        position: absolute;
        left: 20px;
        top: 20px;
        border: 0;
        width: 40px;
        
        svg{
            width: 100% !important;
            height: 100% !important;
        }
    }
    .closebtn{
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    .buttons{
        height: 100%;
        width: 0px;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        align-items: center;
        flex-direction: column;
        transition: width .3s ease-in-out !important;
        

        &.opened{
            width: 220px;
        }


        a{
            text-decoration: none;
            display: block;
            transition: 0.3s;
            font-size: 15px;
            border-bottom: 0px;
            width: 100%;
            min-width: 200px !important;
        }
        .closebtn {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 36px;
            margin-left: 50px;
            background-color: rgba(0,0,0,0);
            outline: 0;
            border: 0;
        }
    }

    h1{
        font-size: 30px;
        height: auto !important;
        text-align: left;
        span{
            display: none;
        }
    }
    .expanded{               
        max-height: 500px !important;
    }
}